/* assets/css/global.css */
.ellipsis-cell {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 180px !important; /* ปรับขนาดให้เหมาะสมกับการออกแบบของคุณ */
}
.ellipsis-cell-medium {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 190px !important; /* ปรับขนาดให้เหมาะสมกับการออกแบบของคุณ */
}
.ellipsis-cell-long {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 340px !important; /* ปรับขนาดให้เหมาะสมกับการออกแบบของคุณ */
}
